<main id="todolist">
  <h1>
    Todo List
    <span>Get things done, one item at a time.</span>
  </h1>

  <div *ngIf="todo.length">
    <ul name="todolist">
      <li *ngFor="let item of todo; let i = index " [class]="item.done ? 'done' : ''">
        <span class="label">{{item.label}}</span>
        <div class="actions">
          <button class="btn-picto" type="button" (click)="toggleCheck(item)" aria-label="item.done ? 'Undone' : 'Done'" title="item.done ? 'Undone' : 'Done'">
            <i aria-hidden="true" class="material-icons">{{ item.done ? 'check_box' : 'check_box_outline_blank' }}</i>
          </button>
          <button class="btn-picto" type="button" (click)="deleteItem(i)" aria-label="Delete" title="Delete">
            <i aria-hidden="true" class="material-icons">delete</i>
          </button>
        </div>
      </li>
    </ul>
    
    <!-- toggle button -->
    <div class="togglebutton-wrapper" [class.togglebutton-checked]="isactive">
      <label for="todosort">
        <span class="togglebutton-label">Move done items at the end?</span>
        <span class="tooglebutton-box"></span>
      </label>
      <input id="todosort" type="checkbox" name="todosort" (change)="onToggle()">
    </div>

  </div>


  <p *ngIf="!todo.length" class="emptylist">Your todo list is empty.</p>
  

  <!-- Форма добавления --> 
  <form name="newform">
    <label for="newitem">Add to the todo list</label>
    <input type="text" name="newitem" id="newitem" >
    <button type="submit">Add item</button>
  </form>
</main>
